*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "Open Sans", sans-serif;
	color:#000;
	font-size: 14px;
	font-weight: 400;
}

input[placeholder]          {text-overflow:ellipsis; font-style: italic;}
input::-moz-placeholder     {text-overflow:ellipsis; font-style: italic;} 
input:-moz-placeholder      {text-overflow:ellipsis; font-style: italic;} 
input:-ms-input-placeholder {text-overflow:ellipsis; font-style: italic;} 

textarea::-webkit-input-placeholder {color:#bbb;font-style: italic;}
textarea::-moz-placeholder          {color:#bbb;font-style: italic;}/* Firefox 19+ */
textarea:-moz-placeholder           {color:#bbb;font-style: italic;}/* Firefox 18- */
textarea:-ms-input-placeholder      {color:#bbb;font-style: italic;}

/*** 
		Header
***/

	.header{
		background: #fff;
		position: fixed;
		width:100%;
		top:0;
		z-index: 100;
	}

	/* Logo */

	.logo{
		float: left;
		padding-top: 8px;
	}

	.logo svg{
		width: 40px;
		vertical-align: middle;
	}

	.logo b{
		color: #ce3624;
		font-size: 25px;
		font-weight: 600;
		vertical-align: middle;
		line-height: 60px;
	}

	/* End Logo */

	/* Nav */
	
	.top-nav{
		float: left;
		padding-top: 4px;
		padding-right: 10px;
	}

	.top-nav ul{
		list-style: none;
	}

	.top-nav li{
		display: inline-block;
	}

	.top-nav a{
		display: block;
		padding: 10px 15px;
		color: black;
		font-size: 18px;
		font-weight: 400;
	}

	.top-nav a:hover, .top-nav a.active{
		color: #ce3624;
	}
	
	.btn_top_nav{
		//display: none;
		border: none;
		background: none;
		font-size: 38px;
		padding: 15px 15px;
		padding: 5px 15px 0px;
	    vertical-align: middle;
		color: #B7B7B7;
	}
	.btn_top_nav:hover{
		color: #878787;
	}

	.btn_close_nav{
		cursor: pointer;
		color:#666;
		display: block;
		width: 100%;
		font-size: 18px;
		padding: 5px;
		padding-left: 13px;
	}

	/* End Nav */

	/* Contact */
	
	.contact{
		float: right;
		font-size: 24px;
		font-weight: 500;
		color: #352e5d;
	}

	.contact span{
		font-size: 24px;
		font-weight: 500;
		color: #352e5d;
		vertical-align: middle;
	}

	.contact i{
		color: #ce3624;
		font-size: 15px;
		vertical-align: middle;
	}

	.contact button{
		border: none;
		background: #ce3624;
		color:#fff;
		font-size: 15px;
		padding: 0 10px 2px;
		border-radius: 20px;
		font-weight: 400;
		vertical-align: middle;
	}

	/* End Contact */

/***
		End Header
***/


/***
		Block 1
***/

	.block1{
		margin-top: 83px;
		background: url(../images/bg1.jpg) no-repeat center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		min-height: 555px;
		overflow: hidden;

	}

	.block1 h1{
		font-size: 60px;
		color: #fff;
		font-weight: 600;
		margin-bottom: 2px;
		line-height: 48px;
	}

	.block1 h2{
		font-size: 48px;
		font-weight: 600;
		color: #fff;
		margin-top: 0;
		margin-bottom: 20px;

		line-height: 48px;
	}

	.block1 b{
		font-size: 60px;
		color: #ce3624;
		font-weight: 600;
	}

	.block1 cl{
		font-size: 60px;
		color: #ce3624;
		font-weight: 600;
	}


	.block1 p{
		font-size: 48px;
		color: #fff;
		font-weight: 200;
		margin-top: 0;
	}

	.block1 .btn1 {
		border: 3px solid #ce3624;
		background: #ce3624;
		color:#fff;
		font-size: 28px;
		padding: 0 40px 4px;
		border-radius: 10px;
		font-weight: 400;
		margin-bottom: 30px;
		margin-right: 9px;
	}

	.block1 .btn2 {
		border: 3px solid #ce3624;
		background: none;
		color:#fff;
		font-size: 28px;
		padding: 0 30px 4px;
		border-radius: 10px;
		font-weight: 400;
	}

	.btn_block1_nav{
		display: none;
		border: none;
		background: none;
		font-size: 38px;
		padding: 15px 15px;
		padding: 5px 15px 0px;
	    vertical-align: middle;
		color: #fff;
		font-weight: 200;
	}

	.block1-nav ul{
		display: none;
		list-style: none;
		position: fixed;
		width: 100%;
		top:60px;
		left: 0px;
		right: 0px;
		padding: 20px 50px;
		background: #fff;
	}

	.block1-nav a{
		display: block;
		padding: 10px 5px;
		color: #000;
	}

	.block1-nav a:hover, .block1-nav a.active{
		color: #ce3624;
	}

	.block1-nav {
		position: relative;
		margin-left: -20px;
	}

	/*.block1 .img {
		position: relative;
	}*/

	.block1 .img img{
		position: absolute;
		top: 200px;
		right: 0px;
		width: 450px;
	}

	.block1 .img{
		position: relative;
	}

/***
		End Block 1
***/

/***
		Block 2
***/

	.block2{
		text-align: center;
	}

	.block2 h2{
		font-size: 48px;
		font-weight: 400;
	}

	.block2 h3{
		font-size: 30px;
		font-weight: 400;
		margin-bottom: 0;
		line-height: 30px;
	}

	.block2 .img{
	}

	.block2 p{
		font-size: 24px;
		margin-top: 0;
		padding: 0 25px;
	}

/***
		End Block 2
***/

/***
		Block 3
***/

	.block3{
		margin-top: 83px; 
		min-height: 278px;
		background: url(../images/bg1.jpg) no-repeat center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		position: relative;
	}

	.b3p1{
		font-size: 60px;
		color:#fff;
		margin:0 0 0 200px;
	}

	.b3p2{
		font-size: 48px;
		color:#fff;
		margin:0 0 0 300px;
	}

	.b3p2 b{
		font-size: 60px;
		color:#ce3624;
	}

	.b3p3{
		font-size: 14px;
		color:#fff;
		margin-top:100px;
		margin-right: 100px;
		text-align: right;
	}

	.block3 img{
		position: absolute;
		top:-30px;
	}

/***
		End Block 3
***/

/***
		Block 4
***/

	.block4{
		margin-top: 83px; 
	}

	.block4 h2{
		text-align: center;
		font-size: 48px;
		font-weight: 400;

	}

	.block4 h3{
		margin:0;
		font-size: 22px;
		line-height: 25px; 
		font-weight: 400;
	}

	.block4 p{
		margin:0 0 20px;
		font-size: 14px; 
	}

	.block4 img{
		margin-bottom: 20px; 
	}

/***
		End Block 4
***/

/***
		Block 5
***/

	.block5{
		margin-top: 83px; 
		min-height: 530px;
		background: url(../images/bg3.jpg) no-repeat center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	.block5 h2{
		color: #fff;
		font-size: 48px;
		text-align: center;
	}

	.yblock{
		position: relative;
		height: 380px;
		width: 300px;
		padding: 10px;
		background: #fad669;
		background: -webkit-radial-gradient(center, ellipse cover, #fbde87 0%, #fad669 100%);
		background: -moz-radial-gradient(center, ellipse cover, #fbde87 0%, #fad669 100%);
		background: -ms-radial-gradient(center, ellipse cover, #fbde87 0%, #fad669 100%);
		background: -o-radial-gradient(center, ellipse cover, #fbde87 0%, #fad669 100%);
		background: radial-gradient(center, ellipse cover, #fbde87 0%, #fad669 100%);
		margin-bottom: 30px;
	}

	.yblock h3{
		margin: 0;
		font-size: 24px;

		font-weight: 400;
	}

	.yblock p{
		font-size: 18px;
		font-weight: 200;
	}

	.yblock button{
		border:none;
		background: #352e5d;
		color:#fff;
		font-size: 20px;
		padding: 3px 10px;
		font-weight: 400;
		box-shadow: 1px 1px 3px #000;
	}

	.yblock button:hover{
		box-shadow: 3px 3px 10px #000;
	}

	.yblock img{
		position: absolute;
		right: -10px;
		bottom: -10px;
	}

/***
		End Block 5
***/

/***
		Block 6
***/

	.block6{

	}

	.block6 h2{
		font-size: 48px;
		text-align: center;
		font-weight: 400;
	}

	.block6 table td{
		border: 1px solid #000;
		padding: 5px 3px;
	}

	.block6 .price{
		padding: 10px 0;
		text-align: right;
		max-width: 441px;
		margin: 0 auto;
	}

	.block6 .table a{
		border: none;
		background: #ce3624;
		color:#fff;
		font-size: 15px;
		padding: 0 20px 2px;
		border-radius: 5px;
		font-weight: 400;
		vertical-align: middle;
	}

	.block6 img{
		width: 150px;
	}

/***
		End Block 6
***/

/***
		Block 7
***/

	.block7{
		background: #352e5d;
		background: -webkit-radial-gradient(center, ellipse cover, #3c3563 0%, #352e5d 100%);
		background: -moz-radial-gradient(center, ellipse cover, #3c3563 0%, #352e5d 100%);
		background: -ms-radial-gradient(center, ellipse cover, #3c3563 0%, #352e5d 100%);
		background: -o-radial-gradient(center, ellipse cover, #3c3563 0%, #352e5d 100%);
		background: radial-gradient(center, ellipse cover, #3c3563 0%, #352e5d 100%);
		overflow: hidden;
	}

	.block7 h2{
		color: #fff;
		font-size: 48px;
		font-weight: 400;
		margin: 0;
		padding-left: 10px; 
	}

	.block7 h2 b{
		color: #ce3624;
	}

	.block7 p{
		color: #fff;
		font-size: 30px;
		font-weight: 400;
		margin: 0;
		padding-left: 10px; 
	}

	.block7 .img{
		position: relative;
	}

	.block7 img{
		position: absolute;
		top: 0;
		right: 5%;
	}

	.block7 input{
		width:100%;
	}

	.block7 textarea{
		width: 100%;
		height: 150px;
		margin: 10px 0; 
	}

	.block7 .btnBlock{
		text-align: right;
		padding-bottom: 10px;
	}

	.block7 button{
		border: none;
		background: #ce3624;
		box-shadow: 1px 1px 3px #000; 
	}

	.block7 button:hover{
		box-shadow: 3px 3px 10px #000;
	}


/***
		End Block 7
***/

	.footer{
		padding-bottom: 20px;
	}

	.logo-footer{
		margin-top: 10px;
	}

	.logo-footer svg{
		width: 40px;
		vertical-align: middle;
	}

	.logo-footer b{
		color: #ce3624;
		font-size: 25px;
		font-weight: 600;
		vertical-align: middle;
		line-height: 60px;
	}

	.footer-contact{
		margin-top: 20px;
	}

	.footer-contact span{
		font-size: 30px;
		font-weight: 500;
		color: #352e5d;
		vertical-align: middle;
	}

	.footer-contact i{
		color: #ce3624;
		font-size: 22px;
		vertical-align: middle;
	}

	.footer-nav{
		width: 300px;
	}

	.footer-nav a{
		display: inline-block;
		padding: 5px 0;
		color:#000;
	}

	.footer-nav a:hover{
		color:#ce3624;
	}

	.footer .soc{
		margin-top: 20px;
	}

	.footer .soc a{
		font-size: 30px;
		font-weight: 400;
		color: #352e5d;
	}

	.footer .soc a i{
		color: #ce3624;
		font-size: 24px;
	}

	.footer .soc .vk a{
		color: #000;
		font-size: 24px;
	}

	.call{
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(255,255,255,0.9);
		z-index: 1010;
	}

	.call .cont-form{
		position: relative;
		background: #352e5d;
		max-width: 320px;
		padding: 20px 10px;
		margin: 100px auto;
	}

	.cont-form h3{
		color:#fff;
		font-weight: 400;
		text-align: center;
		font-size: 24px;
	}

	.cont-form input{
		width: 100%;
		margin: 5px 0;
		padding: 5px;
	}

	.cont-form button.send{
		width: 100%;
		margin: 5px 0;
		padding: 5px 0;
		font-size: 16px;
		font-weight: 400;
		border: none;
		background: #ce3624;
		box-shadow: 1px 1px 3px #000;
	}

	.cont-form button.send:hover{
		box-shadow: 3px 3px 10px #000;
	}

	.cont-form .close-window-call{
		position: absolute;
		top: 5px;
		right: 5px;
		border:none;
		background: none;
		color: #fff;
	}

	.cont-form .close-window-call:hover{
		text-shadow:1px 1px 3px #000;
	}
	.btn1:hover{
		box-shadow: 2px 2px 5px rgba(12,12,12,0.4);
	}
	.btn2:hover{
		background: rgba(206,54,36,0.1);
	}